/* react */
.main-route-content{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;    
    overflow-y: auto;
}
.main-route-content .home-content{
    width:100%;
    position:absolute;
}
.front_panel_back{
    width: 100%;
    height: 100%;
    background-image: url('http://www.syncollege.com/static/images/fp2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    left:0;
    top:0;
    z-index: 0;
}
.home.menu{
    position: fixed;
    margin-top:0px;
    top:0;
    width: 100%;
    transition: height 300ms, background 300ms;
}
.front_panel_back>.front_panel_overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgb(0,0,0);
    opacity: 0.5
}
.front_panel_back>.ui.text.container{
    position: relative;
}
.field .email input{
    text-transform: lowercase;
}

/* home */
.ui.large.secondary.inverted.pointing.menu{
    border-width: 0;
}
.hidden.menu {
    display: none;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}
.footer.segment {
    padding: 5em 0em;
}

.user-form .user-form-content{
    position: fixed;
    margin-top: 40px;
    left:50%;
    max-width: 360px;
    min-width: 360px;    
    margin-left: -180px;
}

.not-found-content{
    position: fixed;
    margin-top: 40px;
    left:50%;
    max-width: 360px;
    min-width: 360px;    
    margin-left: -180px;
}

#auto_signin_checkbox_label{
    user-select: none;
    cursor: pointer;
}